ul {
  list-style: none;
}

small {
  padding: 10px 0 0 10px;
  opacity: 0.4;
  display: block;
  margin: 0 auto;
  max-width: 700px;
}

#search-engine {
  margin: 0 0 20px 0;
}

#form,
#search,
#current {
  padding: 0;
  margin: 0 auto;
}

#search {
  opacity: 0.87;
}

#current-location-button {
  background-color: #151658;
  border: none;
  box-shadow: 0 1px 5px rgb(62, 108, 182);
  opacity: 0.86;
  margin: 0 0 0 15px;
  border-radius: 6px;
  padding: 8px 15px;
}

#time {
  font-size: 19px;
}

#todayCard {
  background-color: #d9e7f9;
  border: 2px solid white;
  border-radius: 5px;
  padding: 15px 15px 10px 15px;
  margin: 15px auto;
}

#today-temperature {
  font-size: 57px;
}

#today-info {
  padding: 30px 40px;
}

.container {
  padding: 30px 0 25px 0;
}

.wrapper {
  background: linear-gradient(to top, #accbee 0%, #e7f0fd 100%);
  border: 2px solid rgba(255, 255, 255, 0.567);
  border-radius: 13px;
  box-shadow: 0 1px 20px rgb(153, 187, 224);
  padding: 30px;
  display: block;
  margin: 0 auto;
  max-width: 700px;
}

.units {
  position: relative;
  top: -35px;
  padding: 0 0 0 5px;
}

.active {
  color: rgb(33, 33, 33);
  cursor: default;
}

.active:hover {
  text-decoration: none;
}

.weather-forecast {
  margin-top: 20px;
  text-align: center;
  color: #000;
}

.forecast-date {
  font-size: 16px;
  opacity: 0.5;
}

.forecast-temp-min {
  opacity: 0.5;
}

.forecast-temp {
  font-size: 13px;
}
