.container {
  margin: 30px auto;
}

.wrapper {
  border: 1px solid;
  padding: 30px;
  display: block;
  margin: 0 auto;
  max-width: 600px;
}

ul {
  list-style: none;
}

#top {
  padding: 15px 0;
}

#form,
#search,
#current {
  padding: 0;
  margin: 0 auto;
}

#todayCard {
  border: 1px solid;
  padding: 15px;
  margin: 15px auto;
}
